{% extends 'base.html.twig' %}

{% block title %}Liste de candidats{% endblock %}

{% block body %}
<div class="container">
    {% for candidate in candidates %}
        <a href="{{ path('one_candidate', {id : candidate.id}) }}">{{ candidate.fullname }}</a>
    {% endfor %}
</div>
{% endblock %}
